version: '3.3'

volumes:
  db:
  # mysql:

x-args: &args
  UserName: ${USER_NAME:-user}
  GroupName: ${GROUP_NAME:-group}
  UserID: ${USER_ID:-1000}
  GroupID: ${GROUP_ID:-1000}

x-php: &php
    volumes:
      - ~/prj:/var/www
      - ./cfg/d.bashrc:/root/.bashrc:ro
      - ./cfg/d.bashrc:/home/${USER_NAME:-user}/.bashrc:ro
      - ~/.ssh:/home/${USER_NAME:-user}/.ssh:ro
      - ./cfg/php/php.ini:/usr/local/etc/php/php.ini:ro
      - ./cfg/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro
      # - ./cfg/ImageMagick-policy.xml:/etc/ImageMagick-6/policy.xml:ro #debian based conainer only
    environment:
      XDEBUG_CONFIG: "remote_port=9001"

x-db: &db
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password
      - --sql_mode=ONLY_FULL_GROUP_BY
    environment:
      MYSQL_USER: ${MYSQL_USER:-user}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-secret}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-secret}

services:

  nginx:
    hostname: nginx
    container_name: nginx
    image: nginx
    depends_on:
      - "dns"
      - "mail"
      - "adminer"
    ports:
      - 127.0.0.1:80:80
      - 127.0.0.1:443:443
    volumes:
      - ~/prj:/var/www
      - ./cfg/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./cfg/nginx/cert:/etc/nginx/cert:ro
      - ./cfg/d.bashrc:/root/.bashrc:ro

  php:
    hostname: php
    container_name: php
    build: 
      context: ./cfg/php
      args: 
        IMAGE: php:7-fpm-alpine
        <<: *args
    <<: *php

  phpd:
    hostname: phpd
    container_name: phpd
    build:
      context: ./cfg/php
      args:
        IMAGE: php-dev:7-fpm-alpine
        <<: *args
    <<: *php

  db:
    hostname: db
    container_name: db
    image: mariadb
    ports:
      - 127.0.0.1:3306:3306
    volumes:
      - db:/var/lib/mysql
      - ./cfg/d.bashrc:/root/.bashrc:ro
    <<: *db

  # mysql:
  #   hostname: mysql
  #   container_name: mysql
  #   image: mysql #mysql:8, mysql:5
  #   ports:
  #     - 127.0.0.1:3305:3306
  #   volumes:
  #     - mysql:/var/lib/mysql
  #     - ./cfg/d.bashrc:/root/.bashrc
  #   <<: *db

  adminer:
    hostname: adminer
    container_name: adminer
    image: adminer

  mail:
    hostname: mail
    container_name: mail
    image: mailhog/mailhog

  dns:
    hostname: dns
    container_name: dns
    image: defreitas/dns-proxy-server
    ports:
      # - 127.0.0.1:8053:5380
      - 127.0.0.1:53:53/udp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/resolv.conf:/etc/resolv.conf
      - ./cfg/dns.json:/app/conf/config.json
      - ./cfg/d.bashrc:/root/.bashrc:ro
