version: '3.5'

services:
  nginx:
    hostname: nginx
    container_name: nde-nginx
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - projects:/var/www
      - sock:/run/sock
      - ./cfg/nginx:/etc/nginx/conf.d
      - ./cfg/nginx/cert:/etc/nginx/cert
      - ./logs/nginx:/var/log/nginx
      - ./cfg/d.bashrc:/etc/bash.bashrc

  php7:
    hostname: php7
    container_name: nde-php-7
    image: php:7-fpm
    build: ./cfg/php/7
    user: 1000:1000
    links:
      - mysql5
      # - mysql8
      # - beanstalk
    volumes:
      - projects:/var/www
      - sock:/run/sock
      - ./cfg/d.bashrc:/etc/bash.bashrc
      - ./cfg/php/7/socket.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./cfg/php/conf/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini

  php71:
    hostname: php71
    container_name: nde-php-71
    image: php:71-fpm
    build: ./cfg/php/71
    user: 1000:1000
    links:
      - mysql5
      # - mysql8
      # - beanstalk
    volumes:
      - projects:/var/www
      - sock:/run/sock
      - ./cfg/d.bashrc:/etc/bash.bashrc
      - ./cfg/php/71/socket.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./cfg/php/conf/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini

  php72:
    hostname: php72
    container_name: nde-php-72
    image: php:72-fpm
    build: ./cfg/php/72
    user: 1000:1000
    links:
      - mysql5
      # - mysql8
      # - beanstalk
    volumes:
      - projects:/var/www
      - sock:/run/sock
      - ./cfg/d.bashrc:/etc/bash.bashrc
      - ./cfg/php/72/socket.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./cfg/php/conf/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini


  php74:
    hostname: php74
    container_name: nde-php-74
    image: php:74-fpm
    build: ./cfg/php/74
    user: 1000:1000
    links:
      - mysql5
      # - mysql8
      # - beanstalk
    volumes:
      - projects:/var/www
      - sock:/run/sock
      - ./cfg/d.bashrc:/etc/bash.bashrc
      - ./cfg/php/74/socket.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./cfg/php/conf/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini

  php5:
    hostname: php5
    container_name: nde-php-5
    image: php:5-fpm
    build: ./cfg/php/5
    user: 1000:1000
    links:
      - mysql5
      # - mysql8
      # - beanstalk
    volumes:
      - projects:/var/www
      - sock:/run/sock
      - ./cfg/d.bashrc:/etc/bash.bashrc
      - ./cfg/php/5/socket.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./cfg/php/conf/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini

  mysql5:
    hostname: mysql5
    container_name: nde-mysql-5
    image: mysql:5
    command: 
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --default-authentication-plugin=mysql_native_password
      - --sql_mode=ONLY_FULL_GROUP_BY
    ports:
      - 3306:3306
    volumes:
      - ./db/mysql5:/var/lib/mysql
      - ./logs/mysql5:/var/log/mysql
      - ./cfg/d.bashrc:/etc/bash.bashrc
    environment:
      MYSQL_ROOT_PASSWORD: secret

  # mysql8:
  #   hostname: mysql8
  #   container_name: nde-mysql-8
  #   image: mysql
  #   command:
  #     - --character-set-server=utf8mb4
  #     - --collation-server=utf8mb4_unicode_ci
  #     - --default-authentication-plugin=mysql_native_password
  #     - --sql_mode=ONLY_FULL_GROUP_BY
  #   ports:
  #     - 3308:3306
  #   volumes:
  #     - ./db/mysql8:/var/lib/mysql
  #     - ./logs/mysql8:/var/log/mysql
  #     - ./cfg/d.bashrc:/etc/bash.bashrc
  #   environment:
  #     MYSQL_ROOT_PASSWORD: secret

  #   beanstalk:
  #    hostname# : beanstalk
  #    container_name: nd# e-beanstalk
  #    image: schicklin# g/beanstalkd
  #    volumes:
  #      - projects:/var/www
  #    # ports:
  #      # - 11300:11300

volumes:
  sock:
  projects:
    driver_opts:
      device: /var/www #your projects path
