version: '3.5'
services:
  nginx:
    hostname: nginx
    container_name: nde-nginx
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/www:/var/www
      - ./cfg/nginx:/etc/nginx/conf.d
      - ./logs/nginx:/var/log/nginx
      - ./cfg/d.bashrc:/etc/bash.bashrc

  php7:
    hostname: php7
    container_name: nde-php7
    image: php:7-fpm
    build: ./cfg/php/7
    user: 1000:1000
    environment:
      XDEBUG_CONFIG: remote_host={{YOUR_IP_ADDRESS}}
    links:
      - db
    volumes:
      - /var/www:/var/www
      - ./cfg/d.bashrc:/etc/bash.bashrc
      - ./cfg/php/7/socket.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./cfg/php/all/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini


  php5:
    hostname: php5
    container_name: nde-php5
    image: php:5-fpm
    build: ./cfg/php/5
    user: 1000:1000
    environment:
      XDEBUG_CONFIG: remote_host={{YOUR_IP_ADDRESS}}
    links:
      - db
    volumes:
      - /var/www:/var/www
      - ./cfg/d.bashrc:/etc/bash.bashrc
      - ./cfg/php/5/socket.conf:/usr/local/etc/php-fpm.d/zz-docker.conf
      - ./cfg/php/all/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini


  db:
    hostname: mysql
    container_name: nde-mysql
    image: mysql:5
    ports:
      - 3306:3306
    volumes:
      - ./db-mysql:/var/lib/mysql
      - ./logs/mysql:/var/log/nginx
      - ./cfg/d.bashrc:/etc/bash.bashrc
    environment:
      MYSQL_ROOT_PASSWORD: secret
