html {
  background-color: #222;
  color-scheme: dark;
}

body,
h1,
h2,
code,
th,
thead td,
thead th,
tbody tr:hover td,
tbody tr:hover th,
#breadcrumb,
#logins a,
#tables a,
#tables span,
.footer>div,
.odd td {
  background-color: transparent;
}

table, thead {
  background-color: #111;
}

tr:nth-child(2n) {
  background-color: #222;
}

.odds tbody tr:nth-child(2n) td {
  background-color: transparent;
}

pre,
input,
select,
textarea,
.message,
.error,
.icon {
  background-color: #222 !important;
}

tr:hover td,
.js .checkable .checked td {
  background-color: #333 !important;
}

html,
body,
td,
th,
label,
legend,
#breadcrumb {
  color: #aaa;
}

h2,
pre,
input,
select,
textarea,
.jush-sql_code,
.footer>div {
  color: #fff;
}

.jush {
  color: #ca7;
}

.jush-js_key,
.jush-js_key .jush-quo,
.jush-js_key .jush-apo {
  color: lightpink;
}

input[disabled] {
  font-style: italic;
  color: #777;
}

.jush a,
a {
  color: #570;
}

a:visited {
  color: #790;
}

#menu {
  padding: 0;
  border-right: 1px dotted #777;
}

h1,
#menu p,
#logins,
#tables {
  border-top: 1px dotted #777;
  border-bottom: 1px dotted #777;
}

pre,
input,
select {
  border: 1px solid #777;
  border-radius: .3em;
  padding: .3em .5em;
  accent-color: #570;
}

input.icon {
  padding: 0;
  line-height: 1;
  height: 24px;
  width: 24px;
}

input.icon:first-child {
  font-size: 1.4em;
  font-weight: bold;
}

.message,
.error {
  border-radius: .7em;
  border-radius: .5em;
}

.footer {
  background-color: #111e;
  border: 1px solid #777;
  border-radius: .5em;
  padding: .7em 1em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: .5em;
}
