html {
  --fg: #aaa;
  --data: #111;
  --bg: #222;
  --btn: #444;
  --a: #9a0;
  --sel: #9a03;
  --hover: #9a05;
  --alpha: .8;

  color-scheme: dark;
  color: var(--fg);
  background: var(--bg);
  accent-color: var(--a);
}

a,
a:visited {
  color: var(--a);
  text-decoration: none;
}

a:hover,
a:link:hover,
a:visited:hover {
  color: var(--fg);
}

input,
button,
select {
  color: var(--fg);
  background: var(--data);
}

select option:checked {
  color: var(--data);
  background: var(--a);
}


/* ### Info ### */

#infoB {
  margin: 1em 3em;
}

#infoB #header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 2;
}

#infoB #header>.left>a,
#infoB #header>.right>* {
  margin: 1px;
}

#infoB #header .right {
  text-align: right;
}

#infoB #header .right>div,
#infoB #header .right>select,
#infoB #header .right>button {
  display: inline-block;
}

#infoB #header .right select,
#infoB #header .right button {
  background-color: var(--data);
  font-size: 18px;
  width: 5em;
  height: 2.5em;
  text-align: center;
  border: none;
  border-radius: .3em;
}

#infoB #header .right :is(select, button):focus {
  outline: none;
}

#infoB #xBlk {
  position: relative;
}

#infoB #xModes {
  position: absolute;
  background-color: var(--data);
  border-radius: 5px;
  top: 103%;
  z-index: 1;
}

#infoB #xModes>label {
  display: flex;
  padding: 0 .5em;
  border-radius: 5px;
}

#infoB #xModes>label>input {
  margin-right: 1em;
}

#infoB #xModes>label:hover {
  background-color: var(--btn);
}

#infoB .center :is(h1, h2) {
  user-select: none;
}

#infoB .center table tr.h td {
  position: relative;
  padding: 1em 12em 1em 3em;
}

#infoB .center table tr.h td img {
  position: absolute;
  top: 1.5em;
  right: 3em;
}

#infoB .center :is(th, td) {
  padding: .5em;
  background-color: var(--data);
}

#infoB .center table td img {
  display: block;
}

#infoB .center span {
  display: none;
}

#infoB .center table {
  width: 100%;
  max-width: 100%;
  margin: 1em auto;
}

#infoB .center h2 {
  font-size: 18px;
  display: inline-block;
  padding: .5em;
  cursor: pointer;
  margin: .1em .3em;
}

#infoB .center h2.open {
  border: 1.5px solid;
  border-radius: .3em;
}

#infoB .center :is(span.show, .open+span) {
  display: block;
}

#infoB .hide {
  display: none;
}


/* ### Adminer ### */

html {
  --dim: transparent;
  --lit: transparent;
}

.adminer .jush {
  --text-color: var(--fg);
  --value-color: var(--a);
}

.adminer .jush a {
  color: var(--a);
}

.adminer thead th {
  background: var(--data);
}

.adminer .odds tr:nth-child(even) {
  background: var(--data);
}

.adminer .odds tr.checked {
  background: var(--sel);
}

.adminer .odds tr:hover {
  background: var(--hover);
}

.adminer .column {
  background: var(--data);
  border-width: 1px;
  border-radius: 8px;
  margin-left: .5em;
}

.adminer .icon {
  background: var(--data);
  border-radius: 5px;
  padding-bottom: 2px;
  height: 24px;
  width: 24px;
}

.adminer .icon span {
  display: inline;
}

.adminer .icon-move span:before {
  content: '☰';
  font-size: 16px;
}

.adminer .icon-plus {
  font-size: 18px;
}

.adminer .icon-cross {
  font-size: 12px;
}

.adminer .icon-move {
  font-size: 0;
}

.adminer :is(#help, .message, .error) {
  background: var(--data);
}

.adminer .footer {
  opacity: var(--alpha);
}
